
.padded-top {
    padding-top: 2rem;
}

.padded-bottom {
    padding-bottom: 2rem;
}

.padded-left {
    padding-left: 2rem;
}
.padded-right {
    padding-right: 2rem;
}

.right-margin {
    margin-right: 2rem;
}

.left-margin {
    margin-left: 2rem;
}

.top-margin {
    margin-top: 2rem;
}

.bottom-margin {
    margin-bottom: 2rem;
}

