
.livingdocs-toolbar .toolbar-entry {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 5px;
  cursor: move;

}
.livingdocs-toolbar {
	width: 300px;
	position: fixed;
	left: 10px;
    top: 10px;
    background-color: #fff;
}

.livingdocs-components {
    height: 300px;
    overflow: auto;
}

body.doc-no-selection .livingdocs-toolbar iframe {
	pointer-events: none;
}