
body {
    padding-left: 250px !important;
}

.livingdocs-toolbar {
    z-index: 3000;
	width: 250px;
	position: fixed;
	left: 0px;
    top: 0px;
    background-color: #fff;
    padding: 5px;
    font-size: 14px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.livingdocs-toolbar form {
    width: auto;
    margin-bottom: 10px;
}

.livingdocs-toolbar form input.text, 
.livingdocs-toolbar form textarea, 
.livingdocs-toolbar form select {
	width: 100%;
	max-width: 400px;
	padding: 6px 5px;
	font-size: 15px;
	background-color: #fff;
	border: 1px solid #dad9d9;
	box-sizing: border-box;
}

.livingdocs-toolbar .Actions {
    margin: 0;
}

.livingdocs-toolbar a.btn, 
.livingdocs-toolbar button, 
.livingdocs-toolbar input[type="submit"], 
.livingdocs-toolbar input[type="reset"], 
.livingdocs-toolbar .Actions .action {
    background: #dad9d9;
    border: 1px solid #333;
    border-radius: 3px;
    float: none;
}

.livingdocs-toolbar a.btn:hover, 
.livingdocs-toolbar button:hover, 
.livingdocs-toolbar input[type="submit"]:hover, 
.livingdocs-toolbar .Actions .action:hover {
        background: #777;
        color: #fff;
    }
    
    .livingdocs-toolbar input[type="submit"]:disabled {
        background: #666;
    }

.livingdocs-toolbar .toolbar-entry {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 5px;
  cursor: move;

}

.livingdocs-components {
    /*height: 500px;*/
}

.livingdocs-item-properties {
    margin-bottom: 10px;
	position: relative;
}

.livingdocs-item-properties .properties-closer {
	position: absolute;
	top: 0;
	right: 5px;
}

.structure-options {
    font-size: 12px;
}

.structure-options select {
    width: 70%;
}

iframe.living-dialog {
    background-color: #fff;
    width: 50%;
    height: 80%;
    position: fixed;
    z-index: 20001;
    top: 100px;
    left: 25%;
    display: none;
    
    -webkit-box-shadow: 0px 0px 65px 4px rgba(68,68,102,1);
    -moz-box-shadow: 0px 0px 65px 4px rgba(68,68,102,1);
    box-shadow: 0px 0px 65px 4px rgba(68,68,102,1);
}

a.dialog-close {
    display: none;
    position: fixed;
    z-index: 20002;
    top: 80px;
    right: 24%;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
}

body.doc-no-selection .livingdocs-toolbar iframe {
	pointer-events: none;
}


[data-doc-container="row"], [data-doc-container="section"], [data-doc-container="column"] {
    border: 4px dotted #ccc;
    /*padding: 5px;*/
}

[data-doc-container="row"].doc-component-highlight, 
[data-doc-container="section"].doc-component-highlight, 
[data-doc-container="column"].doc-component-highlight {
    border: 4px dotted #FA9E4E;
/*    padding-top: 5px;
    padding-bottom: 5px;*/
}


[data-doc-container="row"] {
    overflow: auto;
}

.livingdocs_EditorField_Toolbar_textopts button {
    border: 1px outset #efefef;
}

.livingdocs_EditorField_Toolbar_textopts button:hover {
    background-color: #dcdcdc;
}


.livingdocs-components h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  background-color: #fefffa;
  margin: 0;
  cursor: pointer;
}


.livingdocs-components div.group-component-holder {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 10px;
  z-index: 2;
}


.livingdocs-components ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

.livingdocs-components ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}
.livingdocs-components ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.livingdocs-components ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
.livingdocs-components ul li:nth-of-type(3) {
  animation-delay: 1s;
}
.livingdocs-components ul li:last-of-type {
  padding-bottom: 0;
}
.livingdocs-components ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
}
.livingdocs-components ul li i:before, 
.livingdocs-components ul li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}
.livingdocs-components ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.livingdocs-components ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.livingdocs-components ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.livingdocs-components ul li input[type=checkbox]:checked ~ div.group-component-holder {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.livingdocs-components ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.livingdocs-components ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.livingdocs-components .transition, div.group-component-holder, .livingdocs-components ul li i:before, .livingdocs-components ul li i:after {
  transition: all 0.25s ease-in-out;
}

.livingdocs-components .flipIn, .livingdocs-components h1, .livingdocs-components ul li {
  animation: flipdown 0.5s ease both;
}

.livingdocs-components .no-select, .livingdocs-components h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

table.doc-component {
    border-spacing: 5px;
    border-collapse: separate;
}

table.doc-component:hover {
    outline: 1px dashed #888;
}

table.doc-component tr {
    padding: 5px;
    background-color:#ffc;
    margin: 4px 0;
}

table.doc-component tr:empty {
    display: block;
    height: 15px;
}

table.doc-component td:empty, table.doc-component th:empty {
    padding: 1em;
    background-color: #ffc;
}

table.doc-component thead:empty, table.doc-component tbody:empty {
    min-height: 100px;
    min-width: 50%;
    display: block;
    padding: 5rem;
}

.js-editor-block {
  min-height: 200px;
  position: relative;
}


.js-editor-block button {
    border: 1px outset #efefef;
    font-size: small;
}

.js-editor-block button:hover {
    background-color: #dcdcdc;
}

.lf-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 2001;
}
.lf-overlay.active-dialog {
  visibility: visible;
  opacity: 1;
}

.lf-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.lf-popup h2 {
  margin-top: 0;
  color: #333;
}
.lf-popup .lf-dialog-close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.lf-popup .lf-dialog-close:hover {
  color: #06D85F;
}
.lf-popup .lf-dialog-content {
  max-height: 30%;
  overflow: auto;
}
.lf-popup label {
    display: block;
}