
body {
    padding-left: 250px !important;
}

.livingdocs-toolbar {
    z-index: 3000;
	width: 250px;
	position: fixed;
	left: 0px;
    top: 0px;
    background-color: #fff;
    padding: 5px;
}

.livingdocs-toolbar form {
    width: auto;
}

.livingdocs-toolbar form input.text, 
.livingdocs-toolbar form textarea, 
.livingdocs-toolbar form select {
	width: 100%;
	max-width: 400px;
	padding: 6px 5px;
	font-size: 15px;
	background-color: #fff;
	border: 1px solid #dad9d9;
	box-sizing: border-box;
}

.livingdocs-toolbar .Actions {
    margin: 0;
}

.livingdocs-toolbar a.btn, 
.livingdocs-toolbar button, 
.livingdocs-toolbar input[type="submit"], 
.livingdocs-toolbar input[type="reset"], 
.livingdocs-toolbar .Actions .action {
    background: #666;
    float: none;
}

.livingdocs-toolbar a.btn:hover, 
.livingdocs-toolbar button:hover, 
.livingdocs-toolbar input[type="submit"]:hover, 
.livingdocs-toolbar .Actions .action:hover {
        background: #777;
        color: #fff;
    }
    
    .livingdocs-toolbar input[type="submit"]:disabled {
        background: #dad9d9;
    }

.livingdocs-toolbar .toolbar-entry {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 5px;
  cursor: move;

}

.livingdocs-actions {
}

.livingdocs-components {
    height: 400px;
    overflow: auto;
}

iframe.living-dialog {
    background-color: #fff;
    width: 50%;
    height: 50%;
    position: fixed;
    z-index: 20001;
    top: 100px;
    left: 25%;
    display: none;
    
    -webkit-box-shadow: 0px 0px 65px 4px rgba(68,68,102,1);
    -moz-box-shadow: 0px 0px 65px 4px rgba(68,68,102,1);
    box-shadow: 0px 0px 65px 4px rgba(68,68,102,1);
}

a.dialog-close {
    display: none;
    position: fixed;
    z-index: 20002;
    top: 80px;
    right: 24%;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
}

body.doc-no-selection .livingdocs-toolbar iframe {
	pointer-events: none;
}


[data-doc-container="row"], [data-doc-container="section"], [data-doc-container="column"] {
    border: 1px dashed #ddd;
    padding: 3px;
}

[data-doc-container="row"] {
    overflow: auto;
}

