@import './common.scss';
@import './toolbar-form';

body {
    height: auto !important;
    padding: 0px;
    margin: 0px;
}

#ld-toolbar-holder {
    min-width: 290px;
    max-width: 290px;
    width: 290px;
}

#livingdocs-frame {
    width: 100%;
    border: none;
    height: calc(100vh - 60px);
    margin: 0px auto;
    display: block;
}


.ld-editor-frame {
    background-color: lighten($toolbar-background, 2);
}

.livingdocs-bottom-bar {
    display: flex;
    z-index: 3001;
    height: 45px;
    background: $toolbar-background;
    color: $toolbar-font-color;
    padding: 10px;
    width: 100%;
}

.livingdocs-toolbar {
    z-index: 3000;
    left: 0px;
    top: 0px;
    background-color: $toolbar-background;
    padding: 0px 15px;
    font-size: 16px;
    color: $toolbar-font-color;
    overflow-y: auto;
    overflow-x: hidden;

    height: calc(100vh - 60px);

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);

    .toolbar-tabs {
        background-color: $toolbar-background;
        z-index: 3;
        position: fixed;
        padding-top: 10px;
    }

    .toolbar-items {
        padding-top: 50px;
    }


    .ld-tab {
        display: inline-block;
        cursor: pointer;

        padding: 2px;

        &--active {
            background-color: darken($toolbar-background, 10);
        }
    }

    .ld-tab-panel {
        display: none;

        &.ld-tab-default {
            display: block;
        }
    }

    .ld-toggle {
        display: block;

        input {
            margin-right: 5px;
        }
    }

    .ld-item-selector {
        width: 90%;
        display: block;
        margin: 0px auto;
    }
}

.livingdocs-bottom-bar .livingdocs-actions {
    width: 40%;
    text-align: right;

    fieldset {
        display: none;
    }
}

.livingdocs-bottom-bar .livingdocs-toolbar-messages {
    width: 30%;
    text-align: right;
    overflow: auto;
    height: 50px;
    padding-right: 10px;
}

.livingdocs-bottom-bar .Actions {
    margin: 0;
}

.livingdocs-toolbar .component-actions {
    padding: 5px;
}

.livingdocs-toolbar .component-actions button {
    width: 90%;
    display: block;
    margin: 2px auto;
}

.livingdocs-toolbar #livingdocs-page-options {
    padding: 3px;
}


.livingdocs-item-properties>div {
    padding: 10px;
    position: relative;
    margin: 0;
}

.livingdocs-toolbar .component-list {
    padding-bottom: 100px;
}

#livingdocs-components div.group-component-holder {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    position: relative;
    opacity: 1;
    margin-top: 10px;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
}

.livingdocs-toolbar .toolbar-entry-wrapper {
    width: 110px;
    height: 140px;
    text-align: center;
}

.livingdocs-toolbar .toolbar-entry {
    padding: 5px;
    border: 1px solid #ccc;

    border-radius: 3px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    margin: 0px auto;
    cursor: move;
    font-size: 10px;

    svg path:first-child {
        fill: $toolbar-font-color !important;
    }
}

.livingdocs-toolbar .toolbar-entry svg {
    width: 100%;
    height: 100%;
}

.livingdocs-item-properties {
    margin-bottom: 10px;
    position: relative;
}

.structure-options {
    font-size: 12px;
}

iframe.living-dialog {
    background-color: $toolbar-background;
    width: 50%;
    height: 80%;
    position: fixed;
    z-index: 20001;
    top: 100px;
    left: 25%;
    display: none;

    -webkit-box-shadow: 0px 0px 65px 4px rgba(68, 68, 102, 1);
    -moz-box-shadow: 0px 0px 65px 4px rgba(68, 68, 102, 1);
    box-shadow: 0px 0px 65px 4px rgba(68, 68, 102, 1);
}

a.dialog-close {
    display: none;
    position: fixed;
    z-index: 20002;
    top: 80px;
    right: 24%;
    background-color: $toolbar-background;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
}

body.doc-no-selection .livingdocs-toolbar iframe {
    pointer-events: none;
}

.livingdocs_EditorField_Toolbar_textopts button {
    border: 1px outset #efefef;
}

.livingdocs_EditorField_Toolbar_textopts button:hover {
    background-color: #dcdcdc;
}

.livingdocs_EditorField_Toolbar_options>h4 {
    font-size: 1rem;
}

.livingdocs_EditorField_Toolbar_options>h4:first-child {
    margin-right: 2em;
    font-weight: bold;
}

.livingdocs_EditorField_Toolbar_options>h5 {
    font-size: 1rem;
}

#livingdocs-components h2 {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    margin: 2px;
}


.js-editor-block {
    min-height: 400px;
    position: relative;
}


.js-editor-block button {
    border: 1px outset #efefef;
    font-size: small;
}

.js-editor-block button:hover {
    background-color: #dcdcdc;
}

.lf-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2001;
}

.lf-overlay.active-dialog {
    visibility: visible;
    opacity: 1;
}

.lf-popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.lf-popup h2 {
    margin-top: 0;
    color: #333;
}

.lf-popup .lf-dialog-close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.lf-popup .lf-dialog-close:hover {
    color: #06D85F;
}

.lf-popup .lf-dialog-content {
    max-height: 30%;
    overflow: auto;
}

.lf-popup label {
    display: block;
}
