body {
    height: auto !important;
    padding-bottom: 60px;
}

body.show-livingdocs-toolbar {
    padding-left: 280px !important;
}

.livingdocs-toolbar {
    display: none;
    z-index: 3000;
    width: 280px;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #fff;
    padding: 5px;
    font-size: 14px;
    overflow-y: auto;
    overflow-x: hidden;

    height: calc(100% - 60px);

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    padding: 0;
    color: #000;


    .ld-tab {
        display: inline-block;
        cursor: pointer;

        padding: 2px;

        &--active {
            background-color: #efefff;
        }
    }

    .ld-toggle {
        display: block;

        input {
            margin-right: 5px;
        }
    }

    .ld-item-selector {
        width: 90%;
        display: block;
        margin: 0px auto;
    }
}

body.show-livingdocs-toolbar .livingdocs-toolbar {
    display: block;
}

.livingdocs-bottom-bar {
    display: flex;
    z-index: 3001;
    height: 60px;
    background: #fff;
    padding: 10px;

    width: 100%;

    border-top: 1px solid #999;
    position: fixed;
    bottom: 0;
    left: 0;
}

.livingdocs-bottom-bar .livingdocs-toolbar-controls {
    width: 30%;
}


.livingdocs-bottom-bar .livingdocs-actions {
    width: 40%;
    text-align: right;
}

.livingdocs-bottom-bar .livingdocs-toolbar-messages {
    width: 30%;
    text-align: right;
    overflow: auto;
    height: 50px;
    padding-right: 10px;
}

.livingdocs-bottom-bar form {
    width: auto;
}


.livingdocs-bottom-bar .Actions {
    margin: 0;
}

.livingdocs-toolbar label {
    width: 100%;
}

.livingdocs-toolbar input.text,
.livingdocs-toolbar textarea,
.livingdocs-toolbar select {
    width: 100%;
    max-width: 400px;
    padding: 6px 5px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #dad9d9;
    box-sizing: border-box;
    height: auto;
    color: #000;
}

.livingdocs-bottom-bar select.with-button,
.livingdocs-toolbar select.with-button {
    width: 70%;
    margin-bottom: 0px;
}


.livingdocs-toolbar .component-actions {
    padding: 5px;
}

.livingdocs-toolbar .component-actions button {
    width: 90%;
        display: block;
        margin: 0px auto;
}

.livingdocs-toolbar #livingdocs-page-options {
    padding: 3px;
}

.livingdocs-toolbar .livingdocs-history-list {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}


.livingdocs-item-properties>div {
    padding: 10px;
    position: relative;
    margin: 0;
}

.livingdocs-item-properties a.btn,
.livingdocs-item-properties button,
.livingdocs-item-properties input[type="submit"],
.livingdocs-item-properties input[type="reset"],
.livingdocs-item-properties .Actions .action,
.livingdocs-bottom-bar a.btn,
.livingdocs-bottom-bar button,
.livingdocs-bottom-bar input[type="submit"],
.livingdocs-bottom-bar input[type="reset"],
.livingdocs-bottom-bar .Actions .action,
.livingdocs-toolbar a.btn,
.livingdocs-toolbar button,
.livingdocs-toolbar input[type="submit"],
.livingdocs-toolbar input[type="reset"],
.livingdocs-toolbar .Actions .action {
    background: #dad9d9;
    border: 1px solid #dad9d9;
    border-radius: 3px;
    float: none;
    font-size: 12px;
    padding: 4px;
    color: #000;

    display: inline-block;
    margin: 2px;

    &:hover {
        border: 1px solid #777;
    }

    &:disabled {
        color: #fff;
    }
}


.livingdocs-toolbar .component-list {
    padding-bottom: 100px;
}

#livingdocs-components div.group-component-holder {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
    position: relative;
    opacity: 1;
    margin-top: 10px;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
}

.livingdocs-toolbar .toolbar-entry-wrapper {
    width: 110px;
    height: 140px;
    text-align: center;
}

.livingdocs-toolbar .toolbar-entry {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    margin: 0px auto;
    cursor: move;
    font-size: 10px;
}

.livingdocs-toolbar .toolbar-entry svg {
    width: 100%;
    height: 100%;
}

.livingdocs-item-properties {
    margin-bottom: 10px;
    position: relative;
}

.structure-options {
    font-size: 12px;
}

iframe.living-dialog {
    background-color: #fff;
    width: 50%;
    height: 80%;
    position: fixed;
    z-index: 20001;
    top: 100px;
    left: 25%;
    display: none;

    -webkit-box-shadow: 0px 0px 65px 4px rgba(68, 68, 102, 1);
    -moz-box-shadow: 0px 0px 65px 4px rgba(68, 68, 102, 1);
    box-shadow: 0px 0px 65px 4px rgba(68, 68, 102, 1);
}

a.dialog-close {
    display: none;
    position: fixed;
    z-index: 20002;
    top: 80px;
    right: 24%;
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
}

body.doc-no-selection .livingdocs-toolbar iframe {
    pointer-events: none;
}

.livingdocs_EditorField_Toolbar_textopts button {
    border: 1px outset #efefef;
}

.livingdocs_EditorField_Toolbar_textopts button:hover {
    background-color: #dcdcdc;
}

.livingdocs_EditorField_Toolbar_options>h4 {
    font-size: 1rem;
}

.livingdocs_EditorField_Toolbar_options>h4:first-child {
    margin-right: 2em;
    font-weight: bold;
}

.livingdocs_EditorField_Toolbar_options>h5 {
    font-size: 1rem;
}

#livingdocs-components h2 {
    font-size: 14px;
    color: #000;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    background-color: #fefffa;
    margin: 2px;
}


table.doc-component {
    border-spacing: 5px;
    border-collapse: separate;
}

table.doc-component:hover {
    outline: 1px dashed #888;
}

table.doc-component tr {
    padding: 5px;
    background-color: #ffc;
    margin: 4px 0;
}

table.doc-component tr:empty {
    display: block;
    height: 15px;
}

table.doc-component td:empty,
table.doc-component th:empty {
    padding: 1em;
    background-color: #ffc;
}

table.doc-component thead:empty,
table.doc-component tbody:empty {
    min-height: 100px;
    min-width: 50%;
    display: block;
    padding: 5rem;
}

.js-editor-block {
    min-height: 400px;
    position: relative;
}


.js-editor-block button {
    border: 1px outset #efefef;
    font-size: small;
}

.js-editor-block button:hover {
    background-color: #dcdcdc;
}

.lf-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2001;
}

.lf-overlay.active-dialog {
    visibility: visible;
    opacity: 1;
}

.lf-popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.lf-popup h2 {
    margin-top: 0;
    color: #333;
}

.lf-popup .lf-dialog-close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.lf-popup .lf-dialog-close:hover {
    color: #06D85F;
}

.lf-popup .lf-dialog-content {
    max-height: 30%;
    overflow: auto;
}

.lf-popup label {
    display: block;
}
