@import './common.scss';

.livingdocs-toolbar label {
    width: 100%;
}

.livingdocs-toolbar {

    input.text,
    input[type="text"],
    textarea,
    select {
        @include form-field();
    }

    select.with-button {
        width: 70%;
        margin-bottom: 0px;
    }
}


.livingdocs-bottom-bar select.with-button {
    width: 70%;
    margin-bottom: 0px;
}


.livingdocs-bottom-bar form {
    width: auto;
}

.livingdocs-item-properties {
    .ProseMirror-prompt {
        padding: 0px;
    }
}

.ProseMirror-prompt {
    background-color: $toolbar-background !important;
    color: #fff;

    top: 20px;

    input[type="text"],
    textarea,
    select {
        @include form-field();
        max-width: none;
        width: 90%;
        display: block;
    }

    h5,
    label {
        color: #fff;
    }

    .fieldgroup-fieldwrapper {
        margin-bottom: 15px;
    }

    &-buttons {
        margin-top: 5px;
        /* display: none; */

        button {
            @include button();
        }

    }
}

.infinite-tree-content .infinite-tree-selected.infinite-tree-item,
.infinite-tree-content .infinite-tree-selected.infinite-tree-item:hover,
.infinite-tree-content .infinite-tree-item:hover {
    background: darken($toolbar-background, 3) !important;
    border: 1px solid #06c;
}

